<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 chat-bar">
      <h1 class="title">{{RoomCtrl.title}}</h1>
      <h2 class="title">{{RoomCtrl.title2}}</h2>
      <h4 class="text" ng-click="RoomCtrl.setRoom(room)" ng-repeat="room in RoomCtrl.rooms">{{room.name}}</h4>
      <button ng-click="RoomCtrl.addRoom()">Add Room</button>
    </div>
    <div class="col-md-8 chat-field">
      <h1>{{ currentRoom.name }}</h1>
      <div class="chat-messages" ng-repeat="message in RoomCtrl.messages">
        {{message.username}} <br/> {{message.content}}
      </div>
    </div>
  </div>
